<!DOCTYPE html>
<html>
<head>
  <title>Rjctr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p>
		<% if session[:current_user] %>
			Welcome Back, <%= User.find(session[:current_user]).alias %>! 
			<%= link_to 'See who is currently talking to Bieberfan', twilio_log_path %>
			<%= link_to 'Log Out', logout_path %> 
		<% else %>
			<%= link_to 'Log in', login_path %>
			<%= link_to 'Sign Up', new_user_path %> 
		<% end %>
	</p>
<%= yield %>

</body>
</html>
