<!DOCTYPE html>
<html>

<head>
  <title>Rjctr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>RJCTR</h1>

	<p>
		<% if session[:current_user] %>
			<h2>Ciao, <%= User.find(session[:current_user]).alias.capitalize! %>!</h2>
			<h4>
				<%= link_to 'Log Out', logout_path %><br>
				<%= link_to	'Best of Bieberfan', bestofs_path %><br> 
				<%= link_to 'Latest Bieberfan Conversation', twilio_log_path %><br>
				<%= link_to 'Home', welcome_index_path %><br>
			</h4>

		<% else %>
			<h4>
			<%= link_to 'Log in', login_path %><br>
			<%= link_to 'Sign Up', new_user_path %><br> 
			<%= link_to 'Home', welcome_index_path %><br>
			</h4>
		<% end %>
	</p>
<%= yield %>

</body>
</html>
